*{
  box-sizing: border-box;
}

body{
  background:#92bde7;
  background: black;
  background: white;
  color: #0a4c85;
  
  line-height:1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: galvji;
  padding:1em;
}

.container{
  max-width:500px;
  min-width:300px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
}

ul{
  list-style: none;
  padding:0;
}

.brand{
  text-align: center;
  color: #03bafc;
}

.brand span{
  color:#fff;
  color: black;
  color: white;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
  padding: 1em;
}

.company-info{
  background:#c9e6ff;
  background: #232c77;
  color: white;
}

.company-info h3, .company-info ul{
  text-align: center;
  margin:0 0 1rem 0;
}

.contact{
  background:#f9feff;
  background: rgb(168, 228, 255);
  background: black;
  color: rgb(0, 0, 0);
  display: block;
}
.contact form{
  /* display: grid; */
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
  display: block;
  margin: 30px;
}

.contact form label{
  display:block;
  margin-left: 0px;
  margin-bottom: 4px;
}
.titles{
  text-align: center;
  color: white;
}

.contact form p{
  margin:0;
  color: #03bafc;
  color: white;
  margin-left: 0px;
  font-weight: bold;
  font-size: 16px;
}

.contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:0.8em;
  border:1px solid #c9e6ff;
  margin: 0px;
  border-radius: 0px 15px 15px 15px;
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 16px;
}
.contact form input, .contact form textarea{
  outline-color: #79c879;
  outline-width: 30px;
  outline: none;
}

.contact form button{
  background:#0a4c85;
  color: white;
  border:0;
  background: #03bafc;
  border-radius: 15px;
}

.alert{
  text-align: center;
  padding:10px;
  background:#79c879;
  color:#fff;
  margin-bottom:10px;
  display:none;
  padding: 20px;
  text-align: center;
}

input, select, textarea {
  font-size: 16px;
}

#quantity{
  width: 80px;
}

#message{
  resize: none;
}

#priceTotal{
  color:rgb(101, 255, 101);
  font-size: 30px;
  text-align: right;
}
.priceTotal{
  font-size: 30px;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  text-align: left;
}
#greenie{
  color:rgb(101, 255, 101);
  text-align: right;
}
.greenie{
  color:rgb(101, 255, 101);
  text-align: right;
}
#redie{
  color: rgb(255, 153, 0);
  font-size: 20px;
  text-align: right;
}
.value{
  font-size: 20px;
}
.yOrder{
  font-size: 30px;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  line-height: 1.2;
  text-align: left;
}
.recipt{
  color:white;
  text-align:center;
  margin-bottom: 80px;
  padding: 30px;
  font-size: 16px;
  text-align: left;
  background: rgba(136, 136, 136, 0);
  border-radius: 20px;
  width: 110%;
  margin-left: -5% !important;
  margin-top: 20px;
  font-weight: normal;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0px 0px 0px 2px rgb(255, 255, 255);
}

@media (max-width:500px){
  body{
    margin:0px;
    padding: 0em;
    background: black;
  }
  
  .container{
    margin:0px;
    padding: 0px;
    padding: 0em;
    background: black;
  }
}